[Desktop Entry]
Version=1.0
Type=Application
Name=Cmus
Comment=cmus is a small, fast and powerful console music player.
Exec=foot -e cmus
Terminal=false
Icon=gnome-music
Categories=AudioVideo;
StartupNotify=true
