[Desktop Entry]
Version=1.0
Type=Application
Name=Cmus
Comment=cmus
Exec=foot -e cmus
Terminal=false
Icon=gnome-music
Categories=AudioVideo;
StartupNotify=true
