[Desktop Entry]
Version=1.0
Type=Application
Name=Motrix
Comment=Motrix
Exec=/opt/motrix/Motrix-1.8.19.AppImage
Terminal=false
Icon=motrix-tray
Categories=Development;
StartupNotify=true
Path=
