[Desktop Entry]
Name=Motrix
Exec=/opt/motrix/Motrix-1.8.19.AppImage
Terminal=false
Type=Application
Icon=motrix
StartupWMClass=Motrix
X-AppImage-Version=1.8.19
Comment=A full-featured download manager
MimeType=application/x-bittorrent;x-scheme-handler/magnet;application/x-bittorrent;x-scheme-handler/mo;x-scheme-handler/motrix;x-scheme-handler/magnet;x-scheme-handler/thunder;
Categories=Network;
Path=
StartupNotify=false
