[Desktop Entry]
Categories=Utility;
Comment=Wechat Desktop
Comment[zh_CN]=微信桌面版
Exec=/opt/wechat/WeChatLinux_x86_64.AppImage
Icon=wechat
Name=wechat
Name[zh_CN]=微信
StartupNotify=true
Terminal=false
Type=Application
X-AppImage-Version=4.1.0
Path=
